<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Register</title>
</head>
<body>
    <H1>Register</H1>
    <!---- Registration form----->
    <form action="/add-account" method="post" name="register"> <!---- Form ----->
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username" value=""><br>
      <label for="pwd"> Password:</label><br>
      <input type="password" id="pwd" name="pwd" value="p455w0rd"><br><br>
      <label for="email"> Email:</label><br>
      <input type="email" id="email" name="email" value=""><br><br>
      <label for="name"> Name:</label><br>
      <input type="text" id="name" name="name" value=""><br><br>
      <label for="user-admin">Are you an Administrator?</label>
      <input type ="checkbox" id="user-admin" name="user-admin">
        
      <input type="submit" value="Submit" required>
    </form>     
</body>
</html> 